nextflow.enable.dsl=2
plugins {
    id "nf-schema@2.3.0"
}

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        conda.enabled    = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }
   
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}


params {
    samplesheet         = "${projectDir}/sample_sheet.csv"
    outdir              = "${projectDir}/results"
    enable_conda        = false
    db_zenodo_id        = '5571251'
    reference           = "${projectDir}/ref.fasta" 
    
}

process {
    // defaults for all processes
    cpus = 4
    memory = 8.GB
    // allocations for a specific process
    withName: UNICYCLER {
        cpus = 4
    }
  withName: MULTIQC_02 {
    publishDir = [
        path: "${params.outdir}/multiqc_02",
        mode: 'copy'
    ]
  }
  withName: IQTREE {
    ext.args = "-m MFP"

  }
  withName: GUBBINS {
    ext.args = "--tree-builder raxml --min-snps 5"

  }
}
