plugins {
    id "nf-schema@2.3.0"
}

profiles {
    conda_on {
        conda.enabled = true
    }

     my_laptop {
        process.executor = 'local'
        docker.enabled = true
    }
    univ_hpc {
        process.executor = 'slurm'
        conda.enabled = true
        process.resourceLimits = [
            memory: 750.GB,
            cpus: 50,
            time: 30.d
        ]
    }
    demo {
    params.samplesheet         = "${projectDir}/sample_sheet.csv"
    params.outdir               = "${projectDir}/results"
    }
}

process {
    // defaults for all processes
    cpus = 2
    memory = 2.GB
    // allocations for a specific process
    withName: 'UNICYCLER' {
        cpus = 48
    }
}
